<?xml version="1.0" encoding="utf-8"?>

<settings> 
  <localRepository>D:\newmaven\repository</localRepository>  
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>  
<mirrors>
<!--    <mirror>-->
<!--        <id>aliyunmaven</id>-->
<!--        <mirrorOf>*</mirrorOf>-->
<!--        <name>阿里云公共仓库</name>-->
<!--        <url>https://maven.aliyun.com/repository/public</url>-->
<!--    </mirror>-->
        <mirror>
            <id>aliyun-central</id>
            <name>aliyun-central</name>
            <mirrorOf>aliyun</mirrorOf>
            <url>https://maven.aliyun.com/repository/central</url>
        </mirror>
        <mirror>
            <id>aliyun-jcenter</id>
            <name>aliyun-jcenter</name>
            <mirrorOf>aliyun</mirrorOf>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
</mirrors>
<!--    <profiles>-->
<!--        <id>mvn.101</id>-->
<!--        <repositories>-->
<!--            <repository>-->
<!--            <id>spring</id>-->
<!--            <url>https://maven.aliyun.com/repository/spring</url>-->
<!--            <releases>-->
<!--                <enabled>true</enabled>-->
<!--            </releases>-->
<!--            <snapshots>-->
<!--                <enabled>true</enabled>-->
<!--            </snapshots>-->
<!--            </repository>-->
<!--        </repositories>-->
<!--    </profiles>-->
  
 <!--  <profiles> 
    <profile> 
      <id>mvn.101</id>  
      <repositories>
        <repository> 
          <id>nexus-central</id>  
          <name>Nexus Release Repository2</name>  
          <url>http://172.16.221.101/nexus/content/repositories/oms/</url>  
          <releases> 
            <enabled>true</enabled> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled> 
          </snapshots> 
        </repository>
        <repository> 
          <id>nexus-releases</id>  
          <name>Nexus Release Repository2</name>  
          <url>http://172.16.221.101/nexus/content/repositories/releases/</url>  
          <releases> 
            <enabled>true</enabled> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled> 
          </snapshots> 
        </repository>  
        <repository> 
          <id>nexus-snapshots</id>  
          <name>Nexus Snapshot Repository3</name>  
          <url>http://172.16.221.101/nexus/content/repositories/snapshots/</url>  
          <releases> 
            <enabled>true</enabled> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled> 
          </snapshots> 
        </repository>
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>central</id>  
          <name>Nexus Snapshot Repository</name>  
          <url>http://172.16.221.101/nexus/content/repositories/oms/</url>
        </pluginRepository> 
      </pluginRepositories>
    </profile>
  </profiles>   -->
  <activeProfiles> 
    <activeProfile>mvn.101</activeProfile>
  </activeProfiles> 
</settings>
